<!DOCTYPE html>
{% load staticfiles %}

<!-- when Javascript css etc use: -->
<!--{% load static %} --> 
<html>
	<meta charset="utf-8" />
	<head>
		<title>Renos</title>
		<!--
		<link rel="stylesheet" href="{% static "css/base.css" %}" />
        <script src="{% static "js/jquery.js" %}"></script>  --> 
	</head>
	<body>
		<header>{{header}}</header>
		<img src="{% static "/images/background.jpg" %}" alt="Mr. Linux" />
		<img src="{{ STATIC_URL }}/static/images/Tux.png" alt="Mr. Linux" >
		<section>{{helloMsg}}</section>
	</body>
</html>